*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: black;
}


form{
    width: 350px;
    background-color:rgb(252, 250, 250);
    padding: 30px;
    border-radius: 2%;
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-size:medium;
    font-weight: bold;
}

header{
    color: black;
    text-align: center;
    padding: 10px;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color:black;
}

.password{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color:black;
}

input{
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1%;
    color: black;
}

input:focus{
    border-color: black;
}

.forgot{
    text-align: end;
}

.forgot a{
    color: black;
    text-decoration:underline;
}

button{
    padding: 10px;
    border: none;
    border-radius: 2%;
    background-color: rgb(133, 179, 210);
    font-weight: bold;
    cursor: pointer;

}

.or{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    color:black;
}

.or span{
    height: 1.5px;
    width: 100%;
    background-color: black;

}

h3{
    color: #0a0a0a;
    text-align: center;
}

.shaastralogo img{
    height: 60px;
    width: 130px;
    margin-left: 75px;
    border: 1.5px solid black;
    border-radius: 5%;
}

.social_media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

i{
    font-size: 25px;
    color:rgb(143, 183, 210);
    cursor: pointer;

}

.sign_up{
    text-align: center;
    color:#0a0a0a;
    
}

.sign_up a{
    color: black;
    text-decoration: underline;
}
body{
    background-image: url(https://www.shutterstock.com/shutterstock/videos/1101144295/thumb/1.jpg?ip=x480);
   /* background-repeat:no repeat;*/
   background-size: cover;
}

